services:
  nginx:
    image: {{ nginx_image }}
    volumes:
      - /usr/local/bin/haproxy-poc/nginx/{{entrypoint_file}}:/usr/local/bin/{{entrypoint_file}}
    entrypoint: /usr/local/bin/{{entrypoint_file}}

networks:
  {{ network }}:
    external: true
