services:
  nginx:
    image: {{ nginx_image }}
    volumes:
      - {{ project_src_path }}/nginx/{{entrypoint_file}}:/usr/local/bin/{{entrypoint_file}}
      - {{ project_src_path }}/nginx/nginx.conf:/etc/nginx/nginx.conf
    entrypoint: /usr/local/bin/{{entrypoint_file}}

networks:
  {{ network }}:
    external: true
