services:
  haproxy:
    image: {{ haproxy_image }}
    container_name: haproxyserver
    ports:
      - "80:80"
    volumes:
      - ./haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg

networks:
  {{ network }}:    
    external: true